<header id="header-wrapper">
  <div class="navbar-brand">
    <div class="site-logo">

    </div>
    <div class="region region-header">
      <section id="block-lang-dropdown-language" class="block block-lang-dropdown clearfix">
      </section>
    </div>
  </div>
</header>